name: Test
"on":
  push:
    branches:
      - master
      - renovate/**
  pull_request:
    types:
      - opened
      - synchronize
jobs:
  test_matrix:
    strategy:
      matrix:
        node-version:
          - 20.8.1 # minimum supported Node version
          - 20
          - 21
          - 22
        os:
          - ubuntu-latest
          - macos-latest
          - windows-latest
    runs-on: "${{ matrix.os }}"
    steps:
      - uses: actions/checkout@0ad4b8fadaa221de15dcec353f45205ec38ea70b # v4.1.4
      - name: "Use Node.js ${{ matrix.node-version }}"
        uses: actions/setup-node@60edb5dd545a775178f52524783378180af0d1f8 # v4.0.2
        with:
          node-version: "${{ matrix.node-version }}"
          cache: npm
      - run: npm ci
      - name: Ensure dependencies are compatible with the version of node
        run: npx ls-engines
      - run: npm run test
  test:
    runs-on: ubuntu-latest
    needs: test_matrix
    steps:
      - uses: actions/checkout@0ad4b8fadaa221de15dcec353f45205ec38ea70b # v4.1.4
      - name: "Use Node.js ${{ matrix.node-version }}"
        uses: actions/setup-node@60edb5dd545a775178f52524783378180af0d1f8 # v4.0.2
        with:
          node-version: "${{ matrix.node-version }}"
          cache: npm
      - run: npm ci
      - run: npm run lint
